<header>
<div class="container d-flex justify-between align-center">
<div class="flex-20">
<a class="logo" href="/">
<img src="assets/media/logo-head.webp" alt="uttarakhand tour packages" loading="lazy" />
</a>
</div>
<div class="flex-60 d-flex justify-center menu-container">
<nav>
<ul class="menu d-flex semi-bold-text">
<li><h2 style="text-transform:uppercase;font-size:12px"><a href="/" class="menu-item">Home</a></h2></li>
<li><h2 style="text-transform:uppercase;font-size:12px"><a href="/uttarakhand-tour-packages" class="menu-item">Uttarakhand Tour</a></h2></li>
<li><h2 style="text-transform:uppercase;font-size:12px"><a href="/char-dham-yatra" class="menu-item">Char Dham Yatra</a></h2></li>
<li><h2 style="text-transform:uppercase;font-size:12px"><a href="/discover-uttarakhand" class="menu-item">Discover</a></h2></li>
<li><h2 style="text-transform:uppercase;font-size:12px"><a href="/uttarakhand-tourist-places" class="menu-item">Destinations</a></h2></li>
<li><h2 style="text-transform:uppercase;font-size:12px"><a href="/uttarakhand-travel-guide" class="menu-item">Blogs</a></h2></li>
<li><h2 style="text-transform:uppercase;font-size:12px"><a href="/about-us" class="menu-item">About Us</a></h2></li>
<li><h2 style="text-transform:uppercase;font-size:12px"><a href="/contact-us" class="menu-item">Contact Us</a></h2></li>
</ul>
</nav>
</div>
<div class="flex-20 justify-end">
<a href="#inquiry" class="btn decoration-none"><i class="fa fa-file-text" aria-hidden="true"></i> Get A Quote</a>
</div>
<div class="hamburger-menu">
<span></span>
<span></span>
<span></span>
</div>
</div>
<div class="mobile-menu">
<div class="close-btn">&times;</div>
<ul class="menu semi-bold-text">
<li><h2 style="text-transform:uppercase"><a href="/" class="menu-item"><i class="fa fa-home" aria-hidden="true"></i> Home</a></h2></li>
<li><h2 style="text-transform:uppercase"><a href="/uttarakhand-tour-packages" class="menu-item"><i class="fa fa-gift" aria-hidden="true"></i> Uttarakhand Tour</a></h2></li>
<li><h2 style="text-transform:uppercase"><a href="/char-dham-yatra" class="menu-item"><i class="fa fa-bell" aria-hidden="true"></i> Char Dham Yatra</a></h2></li>
<li><h2 style="text-transform:uppercase"><a href="/discover-uttarakhand" class="menu-item"><i class="fa fa-globe" aria-hidden="true"></i> Discover</a></h2></li>
<li><h2 style="text-transform:uppercase"><a href="/uttarakhand-tourist-places" class="menu-item"><i class="fa fa-map-marker" aria-hidden="true"></i> Destinations</a></h2></li>
<li><h2 style="text-transform:uppercase"><a href="/uttarakhand-travel-guide" class="menu-item"><i class="fa fa-book" aria-hidden="true"></i> Blogs</a></h2></li>
<li><h2 style="text-transform:uppercase"><a href="/about-us" class="menu-item"><i class="fa fa-users" aria-hidden="true"></i> About Us</a></h2></li>
<li><h2 style="text-transform:uppercase"><a href="/contact-us" class="menu-item"><i class="fa fa-phone-square" aria-hidden="true"></i> Contact Us</a></h2></li>
<li><a href="https://api.whatsapp.com/send/?phone=919012466887&text&type=phone_number&app_absent=0" target="_blank" ><h2 class="packages-btn-1 decoration-none bold-text w-100"><i class="fa fa-whatsapp" aria-hidden="true"></i> 9012 466 887</h2></a></li>

<li><a href="https://api.whatsapp.com/send/?phone=917252808808&text&type=phone_number&app_absent=0" target="_blank"> <h2 class="packages-btn-1 decoration-none bold-text w-100"><i class="fa fa-whatsapp" aria-hidden="true"></i> 7252 808 808</h2></a></li>

<li><a href="tel:+919012466887" target="_blank" > <h2 class="hero-btn decoration-none bold-text w-100"><i class="fa fa-mobile" aria-hidden="true"></i> 9012 466 887</h2></a></li>

<li><a href="mailto:info(@)devbhumitourism.com" target="_blank" ><h2 class="packages-btn-1 decoration-none bold-text w-100"><i class="fa fa-mail" aria-hidden="true"></i> info(@)devbhumitourism.com</h2></a>
</li>
<li><a href="mailto:info.dtat(@)gmail.com" target="_blank"><h2 class="packages-btn-1 decoration-none bold-text w-100"><i class="fa fa-mail" aria-hidden="true"></i> info.dtat(@)gmail.com</h2></a>
</li>

</ul>
</div>
</header>
